body {
margin: 0;
text-align: center;
font-family: 'Merriweather', serif;
}

h1 {
color: #66BFBF;
font-size: 5.625em;
line-height: 2;
margin: 50px auto 0 auto;
font-family: 'Sacramento', cursive;
}

h2 {
font-family: 'Sacramento', curisive;
font: Times-New-Roman;
font-size: 5rem;
color: #66BFBF;
margin: 30px auto 0 auto;
font-weight: normal;
}

h3 {
font-family: 'Montserrat', sans-serif;
margin: 30px auto 30px auto;
font-size: 2em;
color: #11999E;
}

h4 {
font-size: 1.2em;
color: #40514e;
}

h5 {
font-size: 1.5em;
color: #40514e;
}

h6 {
font-size: 1.5em;
color: #66BFBF;
}



a {
color: #11999E;
font-size: 1.5em;
margin: 10px 20px;
text-decoration: none;
}

a:hover {
color: #EAF6F6;
}

p {
line-height: 2;
}

hr {
border: dotted #EAF6F6 6px;
border-bottom: none;
width: 30%;
margin: 50px auto;
}

.first-container {
background-color: #e0a9f9;
position: relative;
padding: 20px 0 20px;

}

.top-container {
background-color: #EAF6F6;
position: relative;
padding-top: 100px;
}

.middle-container {
margin-top: 30px;
}

.bottom-container {
background-color: #66BFBF;
position: relative;
padding: 50px 0 20px;
margin-top: 20px;
}

.skill-row {
width: 50%;
margin: 70px auto 70px auto;
text-align: left;
}

.top-cloud {
position: absolute;
right: 200px;
top: 220px;
}

.top2-cloud {
position: absolute;
left: 220px;
top: 150px;
}

.bottom-cloud {
position: absolute;
left: 350px;
bottom: 500px;
}

.leylek {
position: absolute;
width: 20%;
left: 70px;
bottom: 200px;
}

.leylek2 {
position: absolute;
width: 20%;
right: 150px;
bottom: 450px;
}

.picture {
width: 20%;
border-radius: 50%;
}


.book {
border-radius: 30%;
width: 20%;
float: left;
margin: auto 30px auto 30px;
}

.kalp {
border-radius: 30%;
width: 20%;
float: left;
margin: auto 30px auto 30px;
}

.cliff {
border-radius: 30%;
width: 30%;
float: left;
margin: auto 30px auto 30px;
}

.cliff {
border-radius: 30%;
width: 40%;
float: left;
margin: auto 30px auto 30px;
}

.profession {
color: #40514E;
}

.sub-title {
color: #11999E;
margin-top: 70px;
}

.copyright {
color: #EAF6F6;
font-size: 1.2rem;
padding: 20px 0;
}


.btn {
   background: #09E9E9;
   background-image: -webkit-linear-gradient(top, #09E9E9, #1E62D0);
   background-image: -moz-linear-gradient(top, #09E9E9, #1E62D0);
   background-image: -ms-linear-gradient(top, #09E9E9, #1E62D0);
   background-image: -o-linear-gradient(top, #09E9E9, #1E62D0);
   background-image: -webkit-gradient(to bottom, #09E9E9, #1E62D0);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: Garamond;
   font-size: 25px;
   font-weight: 50;
   padding: 25px;
   -webkit-box-shadow: 1px 1px 20px 0 #0059A0;
   -moz-box-shadow: 1px 1px 20px 0 #0059A0;
   box-shadow: 1px 1px 20px 0 #0059A0;
   text-shadow: 1px 1px 20px #000000;
   border: solid #FFFFFF 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   border: solid #337FED 1px;
   background: #1E62D0;
   background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
   -webkit-border-radius: 19px;
   -moz-border-radius: 19px;
   border-radius: 19px;
   text-decoration: none;
}


